<html>
    <head>
        <title>todolist</title>
    </head>
    <body>
        <h1> It's a <%= kindOfDay %> </h1>

        <ul>
            <li>Buy Food</li>
            <li>Cook Food</li>
            <li>Eat Food</li>
            <% for(var i=0;i <newListItems.length ; i++) { %>
            <li><%= newListItems[i] %></li>
            <% } %>
        </ul>
        <form action="/" method="post">
            <input type="text" name="newItem">
            <button type="submit" name="button">add</button>
        </form>
    </body>
</html>